.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

.mypy_cache/
.pytest_cache/
.ruff_cache/

.DS_Store
.idea/
.vscode/

SHADERS/original_c
AUDIO/original_c
CORE/original_c
TEXTURES/original_c
raylib.h